.rectangleDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--violet);
}
.englishDiv,
.uSDDiv {
  position: absolute;
  top: 31.82%;
  left: 62.08%;
  display: none;
}
.uSDDiv {
  left: 66.67%;
}
.div,
.loginDiv,
.mhhasanulgmailcomDiv,
.wishlistDiv {
  position: absolute;
  top: 31.82%;
  left: 70.1%;
  display: inline-block;
}
.div,
.mhhasanulgmailcomDiv,
.wishlistDiv {
  left: 74.01%;
}
.div,
.mhhasanulgmailcomDiv {
  top: 29.55%;
  left: 20.99%;
}
.div {
  top: 31.82%;
  left: 33.85%;
}
.bxbxPhoneCallIcon,
.groupIcon,
.uilenvelopeAltIcon {
  position: absolute;
  height: 36.36%;
  width: 0.83%;
  top: 31.82%;
  right: 79.53%;
  bottom: 31.82%;
  left: 19.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bxbxPhoneCallIcon,
.groupIcon {
  right: 66.77%;
  left: 32.4%;
}
.groupIcon {
  height: 54.55%;
  width: 8.28%;
  top: 20.45%;
  right: 19.38%;
  bottom: 25%;
  left: 72.34%;
}
.headingBarDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 44px;
  color: var(--color-gray-700);
}
.pagesDiv {
  position: absolute;
  top: 25%;
  left: 22.43%;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}
.productsDiv {
  left: 28.89%;
}
.blogDiv,
.contactDiv,
.productsDiv,
.shopDiv {
  position: absolute;
  top: 25%;
  line-height: 20px;
  display: inline-block;
}
.blogDiv {
  left: 37.3%;
  cursor: pointer;
}
.contactDiv,
.shopDiv {
  left: 42.99%;
}
.contactDiv {
  left: 49.02%;
  display: none;
}
.rectangleDiv1 {
  width: 100%;
  left: 0;
  border: 2px solid var(--color-gray-1300);
  box-sizing: border-box;
}
.groupDiv,
.groupDiv1,
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.rectangleDiv2 {
  width: 100%;
  left: 0;
  background-color: var(--pink);
}
.groupDiv,
.groupDiv1 {
  width: 16.09%;
  left: 83.91%;
}
.groupDiv {
  width: 26.93%;
  left: 73.07%;
}
.hektoB,
.homeDiv {
  position: absolute;
  left: 0;
  display: inline-block;
}
.hektoB {
  top: 7.5%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
}
.homeDiv {
  top: 0;
  line-height: 20px;
}
.groupDiv2 {
  position: absolute;
  height: 50%;
  width: 3.65%;
  top: 25%;
  right: 80.54%;
  bottom: 25%;
  left: 15.8%;
  color: var(--pink);
}
.akarIconschevronDown,
.uilsearchIcon {
  position: absolute;
  height: 30%;
  width: 1.02%;
  top: 35%;
  right: 79.35%;
  bottom: 35%;
  left: 19.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uilsearchIcon {
  height: 60%;
  width: 2.04%;
  top: 20%;
  right: 1.1%;
  bottom: 20%;
  left: 96.86%;
}
.navBarDiv {
  position: absolute;
  top: 63px;
  left: 371px;
  width: 1177px;
  height: 40px;
  color: var(--color-indigo-1200);
  font-family: var(--paragraph-text);
}
.promotionBgDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f0ff;
  width: 1920px;
  height: 764px;
}
.rectangleDiv3,
.rectangleDiv4,
.rectangleDiv5 {
  position: absolute;
  width: 10px;
  height: 9.89px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.rectangleDiv3 {
  top: 7.07px;
  left: 0;
  background-color: var(--pink);
}
.rectangleDiv4,
.rectangleDiv5 {
  top: 7.61px;
  left: 26px;
  border: 1px solid var(--pink);
  box-sizing: border-box;
}
.rectangleDiv5 {
  left: 52px;
}
.promotionalPageNav {
  position: absolute;
  top: 696.46px;
  left: 927px;
  width: 66.07px;
  height: 14.6px;
}
.groupIcon1,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 706px;
  height: 689px;
}
.vectorIcon {
  top: -0.5px;
  left: -0.5px;
  width: 137.56px;
  height: 139.49px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.offP {
  margin: 0;
}
.offB {
  position: absolute;
  top: 42px;
  left: 34.39px;
  line-height: 130.43%;
  display: inline-block;
}
.groupDiv3 {
  position: absolute;
  top: 55px;
  left: 557px;
  width: 136.56px;
  height: 138.49px;
}
.shellShapedArmchairPinkVelIcon {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 629px;
  height: 629px;
  object-fit: cover;
}
.rectangleDiv6,
.sofaPromotionalHeader {
  position: absolute;
  top: 39px;
  left: 1041px;
  width: 706px;
  height: 689px;
}
.rectangleDiv6 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--pink);
  width: 163px;
  height: 50px;
}
.bookNowDiv {
  position: absolute;
  top: 16px;
  left: 40px;
  letter-spacing: 0.02em;
  display: inline-block;
}
.shopNowButton {
  position: absolute;
  top: 478px;
  left: 375px;
  width: 163px;
  height: 50px;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.hostelsTailoredForYourBest {
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 53px;
  letter-spacing: 0.02em;
  line-height: 160.91%;
  display: inline-block;
  font-family: var(--font-montserrat);
}
.bestCastleForYouAndYourF,
.dontSettleForLessGetAH {
  position: absolute;
  line-height: 28px;
  display: inline-block;
}
.dontSettleForLessGetAH {
  top: 192px;
  left: 0;
  color: var(--sub-text-color);
  white-space: pre-wrap;
}
.bestCastleForYouAndYourF {
  top: 0;
  left: 3px;
  color: var(--pink);
}
.headerTextDiv {
  position: absolute;
  top: 203px;
  left: 375px;
  width: 710px;
  height: 248px;
  font-size: var(--paragraph-text-size);
  color: var(--color-black);
  font-family: var(--paragraph-text);
}
.ellipseIcon,
.image32Icon {
  position: absolute;
  top: 503px;
  left: 184px;
  width: 15px;
  height: 15px;
}
.image32Icon {
  top: 0;
  left: 70px;
  width: 387px;
  height: 387px;
  object-fit: cover;
}
.promotionalDiv {
  position: absolute;
  top: 122px;
  left: 0;
  width: 1920px;
  height: 764px;
  font-size: var(--font-size-12xl);
  color: var(--white);
}
.rectangleDiv7,
.rectangleDiv8 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.rectangleDiv7 {
  height: 100%;
  bottom: 0;
  background-color: #2f1ac4;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.rectangleDiv8 {
  height: 65.37%;
  bottom: 34.63%;
  background-color: var(--color-gray-400);
}
.cantileverChairB {
  position: absolute;
  top: 69.53%;
  left: 26.3%;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.rectangleDiv9 {
  right: 73.08%;
  left: 0;
  background-color: var(--color-turquoise);
}
.rectangleDiv10,
.rectangleDiv11,
.rectangleDiv9 {
  position: absolute;
  height: 100%;
  width: 26.92%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-xl);
}
.rectangleDiv10 {
  right: 36.54%;
  left: 36.54%;
  background-color: var(--color-violet-200);
}
.rectangleDiv11 {
  right: 0;
  left: 73.08%;
  background-color: #ffeac1;
}
.groupDiv5 {
  position: absolute;
  height: 1.11%;
  width: 19.26%;
  top: 78.95%;
  right: 40%;
  bottom: 19.94%;
  left: 40.74%;
}
.codeY523201,
.div1 {
  position: absolute;
  display: inline-block;
}
.codeY523201 {
  top: 83.38%;
  left: 34.07%;
  font-family: var(--font-montserrat);
}
.div1 {
  top: 90.58%;
  left: 42.59%;
}
.image1Icon {
  position: absolute;
  height: 41.55%;
  width: 48.15%;
  top: 13.3%;
  right: 22.59%;
  bottom: 45.15%;
  left: 29.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleDiv12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-green-300);
}
.viewDetailsDiv {
  position: absolute;
  top: 27.59%;
  left: 13.83%;
  font-weight: 500;
  display: inline-block;
}
.groupDiv6 {
  position: absolute;
  height: 8.03%;
  width: 34.81%;
  top: 54.85%;
  right: 30%;
  bottom: 37.12%;
  left: 35.19%;
  font-size: var(--font-size-7xs);
  font-family: var(--font-montserrat);
}
.groupIcon2,
.uilheartAltIcon,
.uilsearchPlusIcon {
  position: absolute;
  height: 4.71%;
  width: 6.3%;
  top: 4.99%;
  right: 72.59%;
  bottom: 90.3%;
  left: 21.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon2,
.uilsearchPlusIcon {
  height: 4.16%;
  width: 5.56%;
  top: 5.26%;
  right: 61.11%;
  bottom: 90.58%;
  left: 33.33%;
}
.groupIcon2 {
  height: 10.53%;
  width: 14.07%;
  top: 1.94%;
  right: 83.33%;
  bottom: 87.53%;
  left: 2.59%;
}
.featuredProductDiv {
  position: absolute;
  top: 1105px;
  left: 675px;
  width: 270px;
  height: 361px;
  font-size: var(--font-size-3xs);
  color: var(--white);
  font-family: var(--paragraph-text);
}
.rectangleDiv13,
.rectangleDiv14 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.rectangleDiv13 {
  height: 100%;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.rectangleDiv14 {
  height: 65.37%;
  bottom: 34.63%;
  background-color: var(--color-gray-200);
}
.cantileverChairB1 {
  position: absolute;
  top: 69.53%;
  left: 26.3%;
  font-size: var(--font-size-3xl);
  display: inline-block;
  color: var(--pink);
}
.rectangleDiv17 {
  position: absolute;
  height: 100%;
  width: 26.92%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 73.08%;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-1100);
}
.image3Icon {
  position: absolute;
  height: 41.83%;
  width: 80%;
  top: 14.68%;
  right: 10.37%;
  bottom: 43.49%;
  left: 9.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.image1167Icon {
  height: 49.58%;
  width: 67.04%;
  top: 10.8%;
  right: 16.67%;
  bottom: 39.61%;
  left: 16.3%;
  display: none;
}
.image1167Icon,
.image1168Icon,
.image1169Icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1168Icon {
  height: 49.31%;
  width: 65.93%;
  top: 12.74%;
  right: 19.26%;
  bottom: 37.95%;
  left: 14.81%;
  display: none;
}
.image1169Icon {
  height: 48.48%;
  width: 64.81%;
  top: 11.36%;
  right: 20%;
  bottom: 40.17%;
  left: 15.19%;
}
.component3Div {
  position: absolute;
  top: 1105px;
  left: 975px;
  width: 270px;
  height: 361px;
  font-size: var(--font-size-3xs);
  font-family: var(--paragraph-text);
}
.image1169Icon1,
.image3Icon1 {
  position: absolute;
  height: 41.83%;
  width: 80%;
  top: 14.68%;
  right: 10.37%;
  bottom: 43.49%;
  left: 9.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1169Icon1 {
  height: 48.48%;
  width: 64.81%;
  top: 11.36%;
  right: 20%;
  bottom: 40.17%;
  left: 15.19%;
  display: none;
}
.component4Div {
  position: absolute;
  top: 1105px;
  left: 1274px;
  width: 270px;
  height: 361px;
  font-size: var(--font-size-3xs);
  font-family: var(--paragraph-text);
}
.image1168Icon2 {
  position: absolute;
  height: 49.31%;
  width: 65.93%;
  top: 12.74%;
  right: 19.26%;
  bottom: 37.95%;
  left: 14.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.featuredProductDiv1 {
  position: absolute;
  top: 1105px;
  left: 376px;
  width: 270px;
  height: 361px;
  font-size: var(--font-size-3xs);
  font-family: var(--paragraph-text);
}
.shopexOffersDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: var(--shadow);
}
.loremIpsumDolorSitAmetCo,
.supportDiv {
  position: absolute;
  top: 0;
  left: 19.35%;
  display: inline-block;
}
.loremIpsumDolorSitAmetCo {
  height: 66.93%;
  width: 100%;
  top: 33.07%;
  left: 0;
  font-size: var(--paragraph-text-size);
  line-height: 25.6px;
  font-family: var(--paragraph-text);
  color: var(--color-indigo-1400);
  text-align: center;
}
.groupDiv11 {
  position: absolute;
  height: 39.69%;
  width: 80.37%;
  top: 46.25%;
  right: 9.63%;
  bottom: 14.06%;
  left: 10%;
}
.whatShopexOffer,
.whatShopexOffer1,
.whatShopexOffer2,
.whatShopexOffer3 {
  position: absolute;
  top: 2631px;
  left: 375px;
  width: 270px;
  height: 320px;
  font-size: var(--font-size-7xl);
}
.whatShopexOffer1,
.whatShopexOffer2,
.whatShopexOffer3 {
  top: 2626px;
  left: 673px;
}
.whatShopexOffer2,
.whatShopexOffer3 {
  left: 971px;
}
.whatShopexOffer3 {
  left: 1269px;
}
.rectangleDiv28 {
  position: absolute;
  top: 3081px;
  left: -1px;
  background-color: #f1f0ff;
  width: 1920px;
  height: 579px;
}
.executiveApartmentsSingle,
.uGX1200000Div {
  position: absolute;
  left: 70.13%;
  font-size: var(--font-size-3xs);
  display: inline-block;
}
.executiveApartmentsSingle {
  top: 67.45%;
  letter-spacing: 0.02em;
  font-family: var(--font-montserrat);
}
.uGX1200000Div {
  top: 70.55%;
}
.ellipseIcon1,
.ellipseIcon2,
.ellipseIcon3 {
  position: absolute;
  height: 2%;
  width: 1.06%;
  top: 38%;
  right: 45.76%;
  bottom: 60%;
  left: 53.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseIcon2,
.ellipseIcon3 {
  top: 44.73%;
  bottom: 53.27%;
}
.ellipseIcon3 {
  top: 56.73%;
  bottom: 41.27%;
}
.highEndHostelsInOurCatalo {
  position: absolute;
  top: 14.91%;
  left: 53.18%;
  font-size: var(--font-size-12xl);
  letter-spacing: 0.02em;
  line-height: 132%;
  display: inline-block;
  font-family: var(--font-montserrat);
}
.aQuietOrLivelyNeighbourhoo,
.novelStateOfTheArtDesign,
.safeAndSecure {
  position: absolute;
  top: 36.91%;
  left: 55.39%;
  letter-spacing: 0.02em;
  line-height: 132%;
  font-weight: 500;
  color: var(--color-gray-2200);
  display: inline-block;
}
.aQuietOrLivelyNeighbourhoo,
.novelStateOfTheArtDesign {
  top: 55.64%;
}
.novelStateOfTheArtDesign {
  top: 43.09%;
  line-height: 175%;
}
.ellipseIcon4,
.homeStylishClubSofaChairPIcon {
  position: absolute;
  height: 81.75%;
  width: 86.2%;
  top: 3.89%;
  right: 13.8%;
  bottom: 14.36%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.homeStylishClubSofaChairPIcon {
  height: 100%;
  width: 91.22%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 8.78%;
  object-fit: cover;
}
.groupDiv18,
.groupDiv19,
.rectangleDiv29 {
  position: absolute;
  height: 100%;
  width: 53.76%;
  top: 0;
  right: 46.24%;
  bottom: 0;
  left: 0;
}
.groupDiv18,
.rectangleDiv29 {
  width: 98.86%;
  right: 2%;
  left: -0.86%;
}
.rectangleDiv29 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--pink);
}
.bookDiv {
  position: absolute;
  width: 69.43%;
  top: 28.89%;
  left: 15.29%;
  letter-spacing: 0.02em;
  display: inline-block;
}
.shopNowButton1 {
  position: absolute;
  height: 8.18%;
  width: 14.95%;
  top: 66.36%;
  right: 33.33%;
  bottom: 25.45%;
  left: 51.71%;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--font-montserrat);
}
.uniqueFeatureSofa {
  position: absolute;
  top: 3096px;
  left: 434px;
  width: 1050px;
  height: 550px;
  font-family: var(--paragraph-text);
}
.offAmonfOffers {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff6fb;
  box-shadow: var(--shadow);
  width: 420px;
  height: 270px;
}
.bookNowDiv1,
.offInAllBookings {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.bookNowDiv1 {
  top: 37px;
  left: 9px;
  font-size: var(--paragraph-text-size);
  text-decoration: underline;
  font-weight: 600;
  font-family: var(--paragraph-text);
  color: var(--pink);
}
.groupDiv23,
.image1162Icon {
  position: absolute;
  top: 34px;
  left: 16px;
  width: 287px;
  height: 56px;
}
.image1162Icon {
  top: 61px;
  left: 201px;
  width: 213px;
  height: 207px;
  object-fit: cover;
}
.groupDiv21,
.offAmonfOffers1 {
  position: absolute;
  width: 420px;
  height: 270px;
}
.groupDiv21 {
  top: 4262px;
  left: 375px;
  text-align: center;
  font-size: var(--font-size-9xl);
}
.offAmonfOffers1 {
  top: 0;
  left: 0;
  background-color: var(--bg-shade);
  box-shadow: var(--shadow);
}
.offInAllBookings1,
.viewCollectionDiv {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-9xl);
  font-family: var(--font-montserrat);
  color: var(--text);
  text-align: center;
  display: inline-block;
}
.viewCollectionDiv {
  top: 37px;
  left: 9px;
  font-size: var(--paragraph-text-size);
  text-decoration: underline;
  font-weight: 600;
  font-family: var(--paragraph-text);
  color: var(--pink);
}
.groupForm,
.image1161Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 270px;
}
.image1161Icon {
  top: 95px;
  left: 102px;
  width: 312px;
  height: 173px;
  object-fit: cover;
}
.groupDiv24 {
  position: absolute;
  top: 4262px;
  left: 824px;
  width: 420px;
  height: 270px;
}
.discountOfAllProducts {
  top: 23.45%;
  left: 0.08%;
  font-size: var(--font-size-12xl);
  line-height: 132%;
  font-family: var(--font-montserrat);
  color: var(--text);
}
.discountOfAllProducts,
.eamsSofaCompact,
.shopNowDiv {
  position: absolute;
  letter-spacing: 0.02em;
  display: inline-block;
}
.eamsSofaCompact {
  top: 33.84%;
  left: 0.08%;
  font-size: 21px;
  line-height: 132%;
  font-family: var(--font-montserrat);
  color: var(--pink);
}
.shopNowDiv {
  width: 52.23%;
  top: 35.09%;
  left: 24%;
}
.groupDiv26,
.loremIpsumDolorSitAmetCo4 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.groupDiv26 {
  height: 9.55%;
  width: 16.47%;
  top: 72.7%;
  right: 83.53%;
  bottom: 17.76%;
  left: 0;
  color: var(--white);
  font-family: var(--font-montserrat);
}
.loremIpsumDolorSitAmetCo4 {
  height: 8.21%;
  width: 43.08%;
  top: 41.88%;
  left: 0.08%;
  letter-spacing: 0.02em;
  line-height: 30px;
  color: #b7bacb;
  display: inline-block;
}
.clearLinesAndGeomatricFigu,
.materialExposeLikeMetals,
.materialExposeLikeMetals1,
.simpleNeutralColours {
  position: absolute;
  top: 54.77%;
  left: 1.89%;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
}
.clearLinesAndGeomatricFigu,
.materialExposeLikeMetals1,
.simpleNeutralColours {
  top: 61.47%;
}
.clearLinesAndGeomatricFigu,
.materialExposeLikeMetals1 {
  left: 24.3%;
}
.clearLinesAndGeomatricFigu {
  top: 54.77%;
}
.ellipseIcon5,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 2.18%;
  width: 1.48%;
  top: 56.45%;
  right: 98.52%;
  bottom: 41.37%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseIcon5,
.vectorIcon2 {
  top: 62.98%;
  bottom: 34.84%;
}
.ellipseIcon5 {
  height: 79.06%;
  width: 67.53%;
  top: 13.57%;
  right: 16.17%;
  bottom: 7.37%;
  left: 16.31%;
}
.groupDiv28,
.tortuga01B1Icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.tortuga01B1Icon {
  width: 100%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupDiv28 {
  width: 57.58%;
  left: 42.42%;
}
.checkIcon,
.checkIcon1 {
  position: absolute;
  height: 4.02%;
  width: 1.98%;
  top: 55.61%;
  right: 76.11%;
  bottom: 40.37%;
  left: 21.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checkIcon1 {
  top: 62.14%;
  bottom: 33.84%;
}
.discountSofaDiv {
  position: absolute;
  height: 7.43%;
  width: 63.23%;
  top: 58.84%;
  right: 16.51%;
  bottom: 33.73%;
  left: 20.26%;
  color: var(--color-pink-200);
  font-family: var(--paragraph-text);
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 462px;
  object-fit: cover;
}
.subscribeToOurNewsletterTo {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 155%;
  display: inline-block;
}
.subscribeDiv {
  position: absolute;
  width: 60.38%;
  top: 24.49%;
  left: 19.65%;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupDiv32 {
  position: absolute;
  height: 26.49%;
  width: 16.63%;
  top: 73.51%;
  right: 41.73%;
  bottom: 0;
  left: 41.63%;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.groupDiv31 {
  position: absolute;
  height: 40.04%;
  width: 54.17%;
  top: 37.66%;
  right: 22.92%;
  bottom: 22.29%;
  left: 22.92%;
}
.groupDiv29,
.groupDiv30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 462px;
}
.groupDiv29 {
  top: 6023px;
  text-align: center;
  font-size: var(--font-size-12xl);
}
.rectangleDiv32 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-shade);
}
.myAccountDiv,
.topCategoriesDiv {
  position: absolute;
  top: 32.99%;
  left: 40.63%;
  display: inline-block;
}
.myAccountDiv {
  top: 32.78%;
  left: 54.48%;
}
.allCategoriesDiv,
.blogDiv1,
.latestNewsDiv {
  position: absolute;
  top: 33.19%;
  left: 67.03%;
  display: inline-block;
}
.allCategoriesDiv,
.latestNewsDiv {
  top: 41.54%;
}
.allCategoriesDiv {
  top: 49.9%;
}
.bookingHistoryDiv,
.discountsDiv,
.newestAdditionsDiv {
  position: absolute;
  top: 58.25%;
  left: 67.03%;
  display: inline-block;
}
.bookingHistoryDiv,
.discountsDiv {
  top: 41.13%;
  left: 54.48%;
}
.bookingHistoryDiv {
  top: 49.48%;
}
.aboutUsDiv,
.blogDiv2,
.contactUsDiv,
.ordersHistoryDiv {
  position: absolute;
  top: 57.83%;
  left: 54.48%;
  display: inline-block;
}
.aboutUsDiv,
.blogDiv2,
.contactUsDiv {
  top: 41.34%;
  left: 40.63%;
}
.aboutUsDiv,
.contactUsDiv {
  top: 49.69%;
}
.contactUsDiv {
  top: 58.04%;
}
.categoriesDiv,
.myPageDiv,
.mycribs,
.pagesDiv1 {
  position: absolute;
  top: 19.83%;
  left: 16.15%;
  font-size: var(--font-size-14xl);
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-black);
}
.categoriesDiv,
.myPageDiv,
.pagesDiv1 {
  top: 19.62%;
  left: 40.63%;
  font-size: var(--font-size-7xl);
}
.myPageDiv,
.pagesDiv1 {
  left: 54.53%;
}
.pagesDiv1 {
  left: 67.03%;
}
.contactInfoDiv,
.plot32ChurchRoadEntebbeUg {
  position: absolute;
  top: 48.64%;
  left: 16.04%;
  display: inline-block;
}
.plot32ChurchRoadEntebbeUg {
  top: 54.7%;
}
.rectangleDiv33 {
  position: absolute;
  height: 9.19%;
  width: 19.64%;
  top: 34.24%;
  right: 64.27%;
  bottom: 56.58%;
  left: 16.09%;
  border-radius: var(--br-xs);
  background-color: var(--white);
  opacity: 0.45;
}
.enterEmailAddress {
  position: absolute;
  top: 37.16%;
  left: 17.14%;
  display: inline-block;
}
.rectangleDiv34 {
  position: absolute;
  height: 8.14%;
  width: 7.03%;
  top: 34.86%;
  right: 64.38%;
  bottom: 56.99%;
  left: 28.59%;
  border-radius: var(--br-xs);
  background-color: var(--pink);
}
.signUpDiv {
  position: absolute;
  top: 37.16%;
  left: 30.63%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--bg-shade);
  display: inline-block;
}
.footerDiv1,
.rectangleDiv35 {
  position: absolute;
  height: 90.04%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 9.96%;
  left: 0;
}
.rectangleDiv35 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-gray-1200);
}
.aetotechsAllRightsReserve {
  position: absolute;
  top: 32.08%;
  left: 19.64%;
  font-weight: 600;
  display: inline-block;
}
.groupIcon3 {
  position: absolute;
  height: 36.64%;
  width: 4.17%;
  top: 32.08%;
  right: 30.36%;
  bottom: 31.29%;
  left: 65.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv34 {
  position: absolute;
  height: 9.96%;
  width: 100%;
  top: 90.04%;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--color-gray-2600);
}
.footerDiv {
  position: absolute;
  top: 7500px;
  left: -1px;
  width: 1920px;
  height: 532px;
  color: var(--sub-text-color);
  font-family: var(--paragraph-text);
}
.rectangleDiv36,
.rectangleDiv37,
.rectangleDiv38 {
  position: absolute;
  border-radius: var(--br-3xl);
  width: 10px;
  height: 9.89px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.rectangleDiv36 {
  top: 7.07px;
  left: 0;
  background-color: var(--pink);
}
.rectangleDiv37,
.rectangleDiv38 {
  top: 7.61px;
  left: 26px;
  border: 1px solid var(--pink);
  box-sizing: border-box;
}
.rectangleDiv38 {
  left: 52px;
}
.promotionalPageNav1 {
  position: absolute;
  top: 5883px;
  left: 927px;
  width: 66.07px;
  height: 14.6px;
}
.rectangleDiv39,
.rectangleDiv40,
.rectangleDiv41,
.rectangleDiv42 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--pink);
  width: 24px;
  height: 4px;
}
.rectangleDiv40,
.rectangleDiv41,
.rectangleDiv42 {
  left: 31px;
  background-color: var(--color-pink-100);
  width: 16px;
}
.rectangleDiv41,
.rectangleDiv42 {
  left: 53px;
}
.rectangleDiv42 {
  left: 75px;
}
.groupDiv36 {
  position: absolute;
  top: 1519px;
  left: 915px;
  width: 91px;
  height: 4px;
}
.featuredHostelsB {
  position: absolute;
  top: 1015px;
  left: 777px;
  font-size: var(--font-size-15xl);
  display: inline-block;
  color: #1a0b5b;
}
.hostelOfTheWeek,
.newestAdditionsB,
.topCategoriesB,
.trendingHostelsB {
  position: absolute;
  top: 1594px;
  left: 791px;
  font-size: var(--font-size-15xl);
  display: inline-block;
}
.hostelOfTheWeek,
.topCategoriesB,
.trendingHostelsB {
  top: 5402px;
  left: 810px;
}
.hostelOfTheWeek,
.trendingHostelsB {
  top: 3792px;
  left: 778px;
}
.hostelOfTheWeek {
  top: 4658px;
  left: 822px;
}
.whatMycribsOffers {
  top: 2529px;
  left: 761px;
  font-size: var(--font-size-15xl);
}
.brandNewDiv,
.ourBlog,
.whatMycribsOffers {
  position: absolute;
  display: inline-block;
}
.ourBlog {
  top: 6770px;
  left: 833px;
  font-size: var(--font-size-15xl);
}
.brandNewDiv {
  top: 0;
  left: 0;
  color: var(--pink);
}
.featuredDiv,
.hotCakeDiv,
.specialOfferDiv {
  position: absolute;
  top: 0;
  left: 151px;
  display: inline-block;
}
.featuredDiv,
.specialOfferDiv {
  left: 295px;
}
.specialOfferDiv {
  left: 425px;
}
.lineDiv {
  position: absolute;
  top: 21.5px;
  left: 1.5px;
  border-top: 1px solid #fb4997;
  box-sizing: border-box;
  width: 92px;
  height: 1px;
}
.groupDiv37 {
  position: absolute;
  top: 1655px;
  left: 697px;
  width: 527px;
  height: 22px;
  font-size: var(--font-size-3xl);
  font-family: var(--paragraph-text);
}
.rectangleDiv43 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #fff;
}
.maskGroupDiv {
  position: absolute;
  height: 69.71%;
  width: 91.85%;
  top: 3.14%;
  right: 4.07%;
  bottom: 27.14%;
  left: 4.07%;
}
.cantileverChairB4 {
  position: absolute;
  top: 0;
  left: 11.54%;
  line-height: 25.6px;
  display: inline-block;
}
.div5 {
  position: absolute;
  top: 5.88%;
  left: 82.65%;
  text-decoration: line-through;
  display: none;
}
.div6,
.groupDiv40 {
  position: absolute;
  left: 0;
}
.div6 {
  top: 0;
  font-size: var(--font-size-3xs);
  color: var(--text);
  display: inline-block;
}
.groupDiv40 {
  height: 33.33%;
  width: 75.38%;
  top: 66.67%;
  right: 24.62%;
  bottom: 0;
  font-size: var(--font-size-7xs);
  color: var(--color-indigo-1500);
  font-family: var(--font-montserrat);
}
.groupDiv39,
.image32Icon1 {
  position: absolute;
  height: 14.57%;
  width: 48.15%;
  top: 77.14%;
  right: 28.52%;
  bottom: 8.29%;
  left: 23.33%;
}
.image32Icon1 {
  height: 86.48%;
  width: 102.43%;
  top: 6.15%;
  right: -2.43%;
  bottom: 7.38%;
  left: 0;
  overflow: hidden;
}
.image1170Icon,
.image31Icon,
.image32Icon1 {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.image31Icon {
  position: absolute;
  height: 77.46%;
  width: 79.76%;
  top: 11.07%;
  right: 10.12%;
  bottom: 11.48%;
  left: 10.12%;
  overflow: hidden;
}
.image1170Icon {
  height: 76.64%;
  width: 75.71%;
  top: 11.48%;
  right: 12.15%;
  bottom: 11.89%;
  left: 12.15%;
}
.boxForImage,
.image1170Icon,
.image1171Icon {
  position: absolute;
  overflow: hidden;
}
.image1171Icon {
  height: 70.08%;
  width: 69.23%;
  top: 16.8%;
  right: 14.17%;
  bottom: 13.11%;
  left: 16.6%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.boxForImage {
  height: 69.71%;
  width: 91.48%;
  top: 3.14%;
  right: 4.44%;
  bottom: 27.14%;
  left: 4.07%;
  background-color: var(--color-gray-500);
}
.trendingProductsDiv {
  position: absolute;
  top: 3873px;
  left: 377px;
  box-shadow: var(--shadow);
  width: 270px;
  height: 350px;
  text-align: center;
  font-family: var(--paragraph-text);
}
.cantileverChairB5 {
  position: absolute;
  top: 0;
  left: 14.05%;
  line-height: 25.6px;
  display: inline-block;
}
.div7 {
  position: absolute;
  top: 5.88%;
  left: 83.87%;
  text-decoration: line-through;
  display: none;
}
.groupDiv43 {
  position: absolute;
  height: 33.33%;
  width: 76.86%;
  top: 66.67%;
  right: 23.14%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-7xs);
  color: var(--color-indigo-1500);
  font-family: var(--font-montserrat);
}
.groupDiv42 {
  position: absolute;
  height: 14.57%;
  width: 44.81%;
  top: 77.14%;
  right: 30.74%;
  bottom: 8.29%;
  left: 24.44%;
}
.image1170Icon1,
.image1171Icon1 {
  position: absolute;
  height: 76.64%;
  width: 75.71%;
  top: 11.48%;
  right: 12.15%;
  bottom: 11.89%;
  left: 12.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1171Icon1 {
  height: 70.08%;
  width: 69.23%;
  top: 16.8%;
  right: 14.17%;
  bottom: 13.11%;
  left: 16.6%;
  display: none;
}
.trendingProductsDiv1 {
  position: absolute;
  top: 3873px;
  left: 676px;
  box-shadow: var(--shadow);
  width: 270px;
  height: 350px;
  text-align: center;
  font-family: var(--paragraph-text);
}
.cantileverChairB6 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25.6px;
  display: inline-block;
}
.div9 {
  position: absolute;
  top: 5.88%;
  left: 89.13%;
  text-decoration: line-through;
  display: none;
}
.groupDiv46 {
  position: absolute;
  height: 33.33%;
  width: 66.67%;
  top: 66.67%;
  right: 33.33%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-7xs);
  color: var(--color-indigo-1500);
  font-family: var(--font-montserrat);
}
.groupDiv45,
.image31Icon2 {
  position: absolute;
  height: 14.57%;
  width: 51.11%;
  top: 77.14%;
  right: 24.44%;
  bottom: 8.29%;
  left: 24.44%;
}
.image31Icon2 {
  height: 77.46%;
  width: 79.76%;
  top: 11.07%;
  right: 10.12%;
  bottom: 11.48%;
  left: 10.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trendingProductsDiv2 {
  position: absolute;
  top: 3873px;
  left: 975px;
  box-shadow: var(--shadow);
  width: 270px;
  height: 350px;
  text-align: center;
  font-family: var(--paragraph-text);
}
.cantileverChairB7 {
  position: absolute;
  top: 0;
  left: 23.21%;
  line-height: 25.6px;
  display: inline-block;
}
.div11 {
  position: absolute;
  top: 5.88%;
  left: 84.78%;
  text-decoration: line-through;
  display: none;
}
.groupDiv49 {
  position: absolute;
  height: 33.33%;
  width: 82.14%;
  top: 66.67%;
  right: 17.86%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-7xs);
  color: var(--color-indigo-1500);
  font-family: var(--font-montserrat);
}
.groupDiv48,
.image32Icon4 {
  position: absolute;
  height: 14.57%;
  width: 41.48%;
  top: 77.14%;
  right: 34.07%;
  bottom: 8.29%;
  left: 24.44%;
}
.image32Icon4 {
  height: 86.48%;
  width: 102.43%;
  top: 6.15%;
  right: -2.43%;
  bottom: 7.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trendingProductsDiv3 {
  position: absolute;
  top: 3873px;
  left: 1274px;
  box-shadow: var(--shadow);
  width: 270px;
  height: 350px;
  text-align: center;
  font-family: var(--paragraph-text);
}
.topCategoriesIcon,
.topCategoriesIcon1 {
  position: absolute;
  height: 101.16%;
  width: 129.74%;
  top: -7.54%;
  right: -13.01%;
  bottom: 6.38%;
  left: -16.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.topCategoriesIcon1 {
  height: 100%;
  top: -9.17%;
  right: -14.87%;
  bottom: 9.17%;
  left: -14.87%;
}
.lCWDiv,
.miniDiv {
  position: absolute;
  top: 0;
  left: 4.82%;
  display: none;
}
.lCWDiv {
  left: 18.07%;
  text-align: center;
  display: inline-block;
}
.chairDiv,
.div13 {
  position: absolute;
  top: 0;
  left: 65.06%;
  display: none;
}
.div13 {
  top: 62.26%;
  left: 0;
  font-size: var(--paragraph-text-size);
  text-align: center;
  display: inline-block;
}
.latesProductDiv {
  position: absolute;
  height: 15.19%;
  width: 61.71%;
  top: 84.81%;
  right: 19.33%;
  bottom: 0;
  left: 18.96%;
}
.groupDiv50,
.image20Icon {
  position: absolute;
  height: 101.16%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -1.16%;
  left: 0;
}
.image20Icon {
  height: 51.59%;
  width: 66.17%;
  top: 13.33%;
  right: 18.59%;
  bottom: 35.07%;
  left: 15.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.topCatagoriesTopCatagories {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image23Icon {
  position: absolute;
  top: 43px;
  left: 42px;
  width: 185px;
  height: 185px;
  object-fit: cover;
  display: none;
}
.viewShopDiv {
  position: absolute;
  top: 31.03%;
  left: 19.15%;
  font-weight: 500;
  display: inline-block;
}
.groupDiv51 {
  position: absolute;
  height: 8.41%;
  width: 34.94%;
  top: 63.48%;
  right: 32.34%;
  bottom: 28.12%;
  left: 32.71%;
  font-size: var(--font-size-7xs);
  color: var(--white);
}
.topCatagoriesDiv {
  position: absolute;
  top: 5500px;
  left: 364px;
  width: 269px;
  height: 345px;
  font-size: var(--font-size-6xl);
}
.chairDiv1,
.lCWDiv1,
.miniDiv1 {
  position: absolute;
  top: 0;
  left: 17.87%;
  display: none;
}
.chairDiv1,
.lCWDiv1 {
  left: 37.87%;
  display: inline-block;
}
.chairDiv1 {
  left: 60.43%;
  display: none;
}
.latesProductDiv1 {
  position: absolute;
  height: 15.19%;
  width: 87.36%;
  top: 84.81%;
  right: 6.32%;
  bottom: 0;
  left: 6.32%;
}
.image1168Icon3,
.image1171Icon4,
.image20Icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image20Icon1 {
  height: 51.59%;
  width: 66.17%;
  top: 13.33%;
  right: 18.59%;
  bottom: 35.07%;
  left: 15.24%;
  display: none;
}
.image1168Icon3,
.image1171Icon4 {
  right: 22.3%;
}
.image1171Icon4 {
  height: 43.19%;
  width: 55.39%;
  top: 20.58%;
  bottom: 36.23%;
  left: 22.3%;
  display: none;
}
.image1168Icon3 {
  height: 45.51%;
  width: 58.74%;
  top: 17.39%;
  bottom: 37.1%;
  left: 18.96%;
}
.topCatagoriesDiv1 {
  position: absolute;
  top: 5500px;
  left: 672px;
  width: 269px;
  height: 345px;
  font-size: var(--font-size-6xl);
}
.chairDiv2,
.lCWDiv2,
.miniDiv2 {
  position: absolute;
  top: 0;
  left: 16.44%;
  display: none;
}
.chairDiv2,
.lCWDiv2 {
  left: 37.33%;
  display: inline-block;
}
.chairDiv2 {
  left: 60.89%;
  display: none;
}
.latesProductDiv2 {
  position: absolute;
  height: 15.19%;
  width: 83.64%;
  top: 84.81%;
  right: 8.18%;
  bottom: 0;
  left: 8.18%;
}
.image1168Icon4,
.image1171Icon5 {
  position: absolute;
  height: 43.19%;
  width: 55.39%;
  top: 20.58%;
  right: 22.3%;
  bottom: 36.23%;
  left: 22.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1168Icon4 {
  height: 45.51%;
  width: 58.74%;
  top: 17.39%;
  bottom: 37.1%;
  left: 18.96%;
  display: none;
}
.topCatagoriesDiv2 {
  position: absolute;
  top: 5500px;
  left: 980px;
  width: 269px;
  height: 345px;
  font-size: var(--font-size-6xl);
}
.miniDiv3 {
  left: 16.81%;
  display: none;
}
.chairDiv3,
.lCWDiv3,
.miniDiv3 {
  position: absolute;
  top: 0;
}
.lCWDiv3 {
  left: 35.4%;
  text-align: center;
  display: inline-block;
}
.chairDiv3 {
  left: 61.06%;
  display: none;
}
.latesProductDiv3 {
  position: absolute;
  height: 15.19%;
  width: 84.01%;
  top: 84.81%;
  right: 8.18%;
  bottom: 0;
  left: 7.81%;
}
.topCatagoriesDiv3 {
  position: absolute;
  top: 5500px;
  left: 1288px;
  width: 269px;
  height: 345px;
  font-size: var(--font-size-6xl);
}
.blogDiv3 {
  position: absolute;
  height: 51.72%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 48.28%;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-1200);
}
.topEsssentialTrendsIn2021 {
  position: absolute;
  top: 64.71%;
  left: 5.14%;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.uilcalendarAltIcon {
  position: absolute;
  height: 2.23%;
  width: 2.97%;
  top: 55.78%;
  right: 65.41%;
  bottom: 41.99%;
  left: 31.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.august2020Div,
.saberAliDiv {
  position: absolute;
  top: 55.58%;
  left: 35.68%;
  display: inline-block;
}
.saberAliDiv {
  top: 0;
  left: 21.59%;
}
.vectorIcon3 {
  position: absolute;
  height: 66.67%;
  width: 12.88%;
  top: 5.88%;
  right: 87.12%;
  bottom: 27.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv55,
.groupDiv56 {
  position: absolute;
  height: 3.45%;
  width: 23.78%;
  top: 55.58%;
  right: 72.43%;
  bottom: 40.97%;
  left: 3.78%;
}
.groupDiv55 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-3xs);
  font-family: var(--font-montserrat);
}
.moreOffThisLessHelloSamla,
.readMoreDiv {
  position: absolute;
  left: 5.14%;
  line-height: 30px;
  display: inline-block;
}
.moreOffThisLessHelloSamla {
  top: 71.81%;
  color: var(--color-gray-3500);
}
.readMoreDiv {
  top: 86.82%;
  text-decoration: underline;
}
.dcYhvbHVMIcon,
.frameDiv {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.dcYhvbHVMIcon {
  height: 100%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.frameDiv {
  height: 51.72%;
  bottom: 48.28%;
  border-radius: var(--br-lg);
}
.leatestBlogDiv {
  position: absolute;
  top: 6892px;
  left: 349px;
  width: 370px;
  height: 493px;
  font-family: var(--paragraph-text);
}
.blogDiv4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--white);
  box-shadow: var(--shadow);
}
.saberAliDiv1 {
  position: absolute;
  top: 0;
  left: 34.55%;
  display: inline-block;
}
.vectorIcon4 {
  position: absolute;
  height: 66.67%;
  width: 20.61%;
  top: 5.88%;
  right: 79.39%;
  bottom: 27.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv58 {
  position: absolute;
  height: 3.45%;
  width: 14.86%;
  top: 55.58%;
  right: 81.35%;
  bottom: 40.97%;
  left: 3.78%;
}
.leatestBlogDiv1 {
  position: absolute;
  top: 6892px;
  left: 1201px;
  width: 370px;
  height: 493px;
  cursor: pointer;
  font-family: var(--paragraph-text);
}
.topEssentialTrendsIn2021 {
  position: absolute;
  top: 64.71%;
  left: 5.14%;
  font-size: var(--font-size-3xl);
  display: inline-block;
  color: var(--pink);
}
.surfauxionDiv {
  position: absolute;
  top: 0;
  left: 27.14%;
  display: inline-block;
}
.vectorIcon5 {
  position: absolute;
  height: 66.67%;
  width: 16.19%;
  top: 5.88%;
  right: 83.81%;
  bottom: 27.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv60 {
  position: absolute;
  height: 3.45%;
  width: 18.92%;
  top: 55.58%;
  right: 77.3%;
  bottom: 40.97%;
  left: 3.78%;
}
.readMoreDiv2 {
  position: absolute;
  top: 86.82%;
  left: 5.14%;
  text-decoration: underline;
  line-height: 30px;
  color: var(--pink);
  display: inline-block;
}
.leatestBlogDiv2 {
  position: absolute;
  top: 6892px;
  left: 775px;
  width: 370px;
  height: 493px;
  font-family: var(--paragraph-text);
}
.comfortHandyCraft,
.div17,
.div18 {
  position: absolute;
  display: inline-block;
}
.comfortHandyCraft {
  top: 93.32%;
  left: 0;
  font-size: var(--paragraph-text-size);
}
.div17,
.div18 {
  top: 93.64%;
  left: 71.08%;
}
.div18 {
  top: 94.27%;
  left: 85.41%;
  font-size: var(--font-size-7xs);
  text-decoration: line-through;
  color: var(--color-red);
  display: none;
}
.lineIcon,
.vectorIcon6 {
  position: absolute;
  left: 0;
}
.lineIcon {
  height: 0.97%;
  width: 42.71%;
  top: 99.03%;
  right: 57.29%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon6 {
  top: 0;
  width: 84.87px;
  height: 56.73px;
}
.saleDiv {
  position: absolute;
  top: 25.71px;
  left: 27px;
  display: inline-block;
  transform: rotate(-18.12deg);
  transform-origin: 0 0;
}
.groupDiv62 {
  position: absolute;
  top: 25px;
  left: 18px;
  width: 84.87px;
  height: 56.73px;
  display: none;
}
.uilheartAltIcon1,
.uilsearchPlusIcon1 {
  position: absolute;
  top: 193px;
  left: 22px;
  width: 17px;
  height: 17px;
  overflow: hidden;
  display: none;
}
.uilsearchPlusIcon1 {
  top: 224px;
  left: 24px;
  width: 15px;
  height: 15px;
}
.groupIcon4 {
  position: absolute;
  top: 146px;
  left: 15px;
  width: 30px;
  height: 30px;
  display: none;
}
.frameDiv3,
.image1168Icon6 {
  position: absolute;
  overflow: hidden;
}
.image1168Icon6 {
  height: 82.31%;
  width: 61.62%;
  top: 14.44%;
  right: 19.19%;
  bottom: 3.25%;
  left: 19.19%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.frameDiv3 {
  height: 88.22%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 11.78%;
  left: 0;
  background-color: var(--color-gray-400);
  color: var(--bg-shade);
}
.image1166Icon,
.image15Icon,
.image9Icon {
  position: absolute;
  top: 25px;
  left: 68px;
  width: 245px;
  height: 245px;
  object-fit: cover;
  display: none;
}
.image1166Icon,
.image9Icon {
  top: 33px;
  left: 73px;
  width: 223px;
  height: 229px;
}
.image9Icon {
  height: 85.36%;
  width: 74.86%;
  top: 1.59%;
  right: 11.89%;
  bottom: 13.05%;
  left: 13.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image23Icon1,
.image32Icon5,
.image3Icon3 {
  position: absolute;
  top: 0;
  left: 54px;
  width: 267px;
  height: 277px;
  object-fit: cover;
  display: none;
}
.image32Icon5,
.image3Icon3 {
  top: 13px;
  left: 36px;
  width: 303px;
  height: 264px;
}
.image3Icon3 {
  top: 16px;
  left: 5px;
  width: 360px;
  height: 261px;
}
.component8Div,
.component9Div {
  position: absolute;
  top: 1739px;
  width: 360px;
  height: 306px;
}
.component8Div {
  left: 1182px;
  font-size: var(--font-size-3xs);
}
.component9Div {
  left: 378px;
  cursor: pointer;
}
.image1168Icon7,
.image23Icon2 {
  position: absolute;
  object-fit: cover;
}
.image1168Icon7 {
  height: 82.31%;
  width: 61.62%;
  top: 14.44%;
  right: 19.19%;
  bottom: 3.25%;
  left: 19.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.image23Icon2 {
  top: 0;
  left: 54px;
  width: 267px;
  height: 277px;
}
.component10Div {
  position: absolute;
  top: 2165px;
  left: 378px;
  width: 360px;
  height: 306px;
  font-size: var(--font-size-3xs);
}
.image32Icon7 {
  position: absolute;
  top: 13px;
  left: 36px;
  width: 303px;
  height: 264px;
  object-fit: cover;
}
.component11Div {
  position: absolute;
  top: 2165px;
  left: 775px;
  width: 360px;
  height: 306px;
  font-size: var(--font-size-3xs);
}
.div23,
.div24 {
  position: absolute;
  top: 93.64%;
  left: 70.11%;
  display: inline-block;
}
.div24 {
  top: 94.27%;
  left: 84.24%;
  font-size: var(--font-size-7xs);
  text-decoration: line-through;
  color: var(--color-red);
  display: none;
}
.frameDiv6,
.lineIcon3 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.lineIcon3 {
  height: 0.97%;
  width: 42.12%;
  top: 99.03%;
  right: 57.88%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.frameDiv6 {
  height: 88.22%;
  width: 98.63%;
  top: 0;
  right: 1.37%;
  bottom: 11.78%;
  background-color: var(--color-gray-400);
  color: var(--bg-shade);
}
.image3Icon6,
.image9Icon3 {
  position: absolute;
  object-fit: cover;
}
.image9Icon3 {
  height: 85.36%;
  width: 73.84%;
  top: 1.59%;
  right: 13.1%;
  bottom: 13.05%;
  left: 13.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.image3Icon6 {
  top: 16px;
  left: 5px;
  width: 360px;
  height: 261px;
}
.groupDiv67 {
  position: absolute;
  height: 100%;
  width: 101.39%;
  top: 0;
  right: -1.39%;
  bottom: 0;
  left: 0;
}
.component12Div {
  position: absolute;
  top: 2165px;
  left: 1172px;
  width: 360px;
  height: 306px;
  font-size: var(--font-size-3xs);
}
.div26 {
  position: absolute;
  top: 94.27%;
  left: 85.41%;
  font-size: var(--font-size-7xs);
  text-decoration: line-through;
  color: var(--color-red);
  display: inline-block;
}
.lineIcon4 {
  position: absolute;
  height: 0.95%;
  width: 42.71%;
  top: 99.05%;
  right: 57.29%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image15Icon4 {
  position: absolute;
  top: 25px;
  left: 68px;
  width: 245px;
  height: 245px;
  object-fit: cover;
}
.saleDiv4 {
  position: absolute;
  top: 19.9px;
  left: 0;
  display: inline-block;
  transform: rotate(-18.12deg);
  transform-origin: 0 0;
}
.groupDiv69 {
  position: absolute;
  top: 30.8px;
  left: 45px;
  width: 66.11px;
  height: 36.06px;
}
.uilheartAltIcon5,
.uilsearchPlusIcon5 {
  position: absolute;
  top: 193px;
  left: 22px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.uilsearchPlusIcon5 {
  top: 224px;
  left: 24px;
  width: 15px;
  height: 15px;
}
.frameDiv7,
.groupIcon8 {
  position: absolute;
  top: 142px;
  left: 11px;
  width: 38px;
  height: 38px;
}
.frameDiv7 {
  height: 88.22%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 11.78%;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
  color: var(--bg-shade);
}
.leatestProductDiv {
  position: absolute;
  top: 1735px;
  left: 775px;
  width: 370px;
  height: 313.98px;
  font-size: var(--font-size-3xs);
}
.rectangleDiv48 {
  position: absolute;
  height: 100%;
  width: 40.07%;
  top: 0;
  right: 59.93%;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-500);
}
.div27,
.executiveSeatChair {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.div27 {
  top: 105%;
  left: -1.32%;
  font-size: var(--font-size-7xs);
  text-decoration: line-through;
  display: none;
}
.groupDiv71 {
  position: absolute;
  height: 27.03%;
  width: 56.55%;
  top: 28.38%;
  right: 0;
  bottom: 44.59%;
  left: 43.45%;
}
.image19Icon,
.image28Icon,
.image30Icon,
.image33Icon {
  position: absolute;
  height: 95.95%;
  width: 23.97%;
  top: 2.7%;
  right: 68.16%;
  bottom: 1.35%;
  left: 7.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image19Icon,
.image28Icon,
.image33Icon {
  height: 90.54%;
  width: 25.09%;
  top: 4.05%;
  right: 67.79%;
  bottom: 5.41%;
  left: 7.12%;
  display: none;
}
.image28Icon,
.image33Icon {
  height: 91.89%;
  width: 25.47%;
  right: 67.04%;
  bottom: 4.05%;
  left: 7.49%;
}
.image28Icon {
  height: 90.54%;
  width: 25.09%;
  right: 68.54%;
  bottom: 5.41%;
  left: 6.37%;
}
.trndingProductsList {
  position: absolute;
  top: 4267px;
  left: 1268px;
  width: 267px;
  height: 74px;
  text-align: center;
}
.div28,
.rectangleDiv49 {
  position: absolute;
  left: 0;
}
.rectangleDiv49 {
  height: 100%;
  width: 39.93%;
  top: 0;
  right: 60.07%;
  bottom: 0;
  background-color: var(--color-gray-500);
}
.div28 {
  top: 105%;
  font-size: var(--font-size-7xs);
  text-decoration: line-through;
  display: none;
}
.groupDiv72,
.groupDiv73 {
  position: absolute;
  height: 27.03%;
  width: 57.46%;
  top: 28.38%;
  right: 0;
  bottom: 44.59%;
  left: 42.54%;
}
.groupDiv72 {
  height: 100%;
  width: 100.37%;
  top: 0;
  right: -0.37%;
  bottom: 0;
  left: 0;
}
.image19Icon1,
.image30Icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image30Icon1 {
  height: 95.95%;
  width: 23.97%;
  top: 2.7%;
  right: 68.16%;
  bottom: 1.35%;
  left: 7.87%;
  display: none;
}
.image19Icon1 {
  height: 90.54%;
  width: 25.09%;
  top: 4.05%;
  right: 67.79%;
  bottom: 5.41%;
  left: 7.12%;
}
.trndingProductsList1 {
  position: absolute;
  top: 4361px;
  left: 1268px;
  width: 267px;
  height: 74px;
  text-align: center;
}
.image28Icon2 {
  position: absolute;
  height: 90.54%;
  width: 25.09%;
  top: 4.05%;
  right: 68.54%;
  bottom: 5.41%;
  left: 6.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trndingProductsList2 {
  position: absolute;
  top: 4455px;
  left: 1268px;
  width: 267px;
  height: 74px;
  text-align: center;
}
.groupIcon9,
.image1174Icon {
  position: absolute;
  top: 2687px;
  left: 478px;
  width: 959px;
  height: 65px;
}
.image1174Icon {
  top: 6581px;
  left: 508px;
  width: 904px;
  height: 93px;
  object-fit: cover;
}
.uSD1000Div,
.uSD1700Div,
.uSD500Div {
  position: absolute;
  top: 4308px;
  left: 1387px;
  font-size: var(--font-size-7xs);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.uSD1000Div,
.uSD1700Div {
  top: 4402px;
  left: 1384px;
}
.uSD1700Div {
  top: 4497px;
  left: 1385px;
}
.homePageDiv {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 8032px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-text-size);
  color: var(--text);
  font-family: var(--font-montserrat);
}
